## My First Program

In [3]:
print("Hello World")

Hello World

In [2]:
print("vedant")

vedant

In [4]:
Print("Hello World")

NameError: name 'Print' is not defined


### Why error?python is case sensetive.
### Capital p is not allowed in print

In [11]:
print(vedant)

NameError: name 'vedant' is not defined

In [12]:
print(5)

5

### string(text) should be in inverted commas

### VARIABLES

In [18]:
name="sagar"
Age=21
Income=20000

In [19]:
print(name)
print(Age)
print(Income)

sagar
21
20000

In [20]:
namelist="sagar","vedant"
namelist

('sagar', 'vedant')

In [21]:
name list="sagar","vedant"
name list

SyntaxError: invalid syntax (825122790.py, line 1)

### Space is not allowed

In [22]:
2namelist="sagar","vedant"
2namelist

SyntaxError: invalid decimal literal (2704568154.py, line 1)

### VARIABLE NAME SHOULD NOT START WITH A NUMBER

In [23]:
name2list="sagar","vedant"
name2list

('sagar', 'vedant')

In [24]:
name+list="sagar","vedant"
name+list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (908958884.py, line 1)

In [25]:
name_list="sagar","vedant"
name_list

('sagar', 'vedant')

### THE ONLY SPECIALCHARECTER ALLOWED IS UNDERSCORE
### Variable Name Should Start with A-Z,a-z or Underscore

### DATA TYPES

In [9]:
type("ai")

str

In [10]:
name="ai"
type(name)

str

In [7]:
x=10
type(x)

int

In [11]:
x=10.7
type(x)

float

In [12]:
x=true
type(x)

NameError: name 'true' is not defined

### Python is case-sensitive.

In [13]:
y=False
type(y)

bool

In [14]:
z='true'
type(z)

str

In [15]:
z="true"
type(z)

str

### List

In [16]:
sample_list=[1,2,3,8,15,"hello",-7,-8,-3,1,3,6]
sample_list

[1, 2, 3, 8, 15, 'hello', -7, -8, -3, 1, 3, 6]

In [17]:
type(sample_list)

list

In [21]:
sample_list[4:]

[15, 'hello', -7, -8, -3, 1, 3, 6]

In [23]:
sample_list[14]

IndexError: list index out of range

In [24]:
sample_list[-5]

-8

In [25]:
sample_list[-7]

'hello'

In [26]:
sample_list[0]=100
sample_list

[100, 2, 3, 8, 15, 'hello', -7, -8, -3, 1, 3, 6]

### Elements in a list are seperated by comma and enclosed in a square bracket

### list is hetrogeneous i.e Multiple data type

### List can have duplicates

### List is mutable i.e we can make changes

### TUPLE

In [27]:
sample_tuple=(1,6,2.7,8.7,"hello",3)
sample_tuple

(1, 6, 2.7, 8.7, 'hello', 3)

In [28]:
type(sample_tuple)

tuple

In [29]:
sample_tuple2=1,6,7,8.9,"hii",4
sample_tuple

(1, 6, 2.7, 8.7, 'hello', 3)

In [30]:
type(sample_tuple)

tuple

In [31]:
sample_tuple[1]=100
sample_tuple

TypeError: 'tuple' object does not support item assignment

### tuple is immutable

### tuple is container object
### tuple is hetrogeneous allows multiple data types
### tuple can have duplicates 
### tuples are immutable
### tuples are seperated by comma ,enclosed in parathesis or without any bracket

In [32]:
print(sample_tuple)
print(sample_tuple2)

(1, 6, 2.7, 8.7, 'hello', 3)
(1, 6, 7, 8.9, 'hii', 4)

In [33]:
sample_tuple[8]

IndexError: tuple index out of range

In [34]:
sample_tuple[3]

8.7

### Set's

In [9]:

sample_set={1,1,2,3,4,5,"hi","hello","sd",-11,-1,45.9,89.7}
sample_set

{-1, -11, 1, 2, 3, 4, 45.9, 5, 89.7, 'hello', 'hi', 'sd'}

In [9]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [10]:
sample_set[0]=1

TypeError: 'set' object does not support item assignment

In [10]:
sample_set.remove(-1)
sample_set

{-11, 1, 2, 3, 4, 45.9, 5, 89.7, 'hello', 'hi', 'sd'}

In [11]:
sample_set.add(110)
sample_set

{-11, 1, 110, 2, 3, 4, 45.9, 5, 89.7, 'hello', 'hi', 'sd'}

### Set does not  allow duplicates
### we cannot retrive the set using index
### Set is mutable
### Set has {}
### Ordered -First place

# Dictionary

### 1)   Key-value pair
### 2)   {}
### 3)   Indexing-square bracket
### 4)   Mutable

In [12]:
dict_1={"name":"sagar","Hobies":["webseries","movies","games"],1:34}
dict_1

{'name': 'sagar', 'Hobies': ['webseries', 'movies', 'games'], 1: 34}

In [13]:
dict_1[keys]

NameError: name 'keys' is not defined

In [17]:
dict_1.keys()

dict_keys(['name', 'Hobies', 1])

In [18]:
dict_1.values()

dict_values(['sagar', ['webseries', 'movies', 'games'], 34])

In [20]:
dict_1['name']="vedant"
dict_1

{'name': 'vedant', 'Hobies': ['webseries', 'movies', 'games'], 1: 34}

In [ ]:
del dict_1["name"]

In [25]:
dict_1

{'Hobies': ['webseries', 'movies', 'games'], 1: 34}

In [27]:
### Add a new key-value
dict_1.update({"class":"datascience"})
dict_1

{'Hobies': ['webseries', 'movies', 'games'], 1: 34, 'class': 'datascience'}

In [26]:
dict_1

{'Hobies': ['webseries', 'movies', 'games'], 1: 34}

In [28]:
len(dict_1)

3

In [29]:
type(dict_1)

dict

In [30]:
dict_1.items()

dict_items([('Hobies', ['webseries', 'movies', 'games']), (1, 34), ('class', 'datascience')])

In [31]:
dict_1.get("Hobies")

['webseries', 'movies', 'games']

In [32]:
dict_1.get("class")

'datascience'